{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Note</title>
    <link rel="stylesheet" href="{% static 'css/lab4_index_style.css' %}" />
</head>

<body>
    <header>
        <div id="header">
            <h1>Note</h1>
            <p><a href="#navbar">Hop to your messages!</a></p>
        </div>
        <nav id="navbar">
            <ul>
                <li><a href="{% url 'note_list' %}">Card</a></li>
                <li><a href="{% url 'add_note' %}">Add note</a></li>
                <li><a href="#header">Back to the top</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <table>
            <tr>
                <th>To</th>
                <th>From</th>
                <th>Title</th>
                <th>Message</th>
            </tr>
            <!-- Loop from Note model -->
            {% if notes %}
            {% for note in notes %}
            <tr>
                <td>{{ note.to }}</td>
                <td>{{ note.sender }}</td>
                <td>{{ note.title }}</td>
                <td>"{{ note.message }}"</td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>
    </main>
</body>

</html>