{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Note Form</title>
    <link rel="stylesheet" href="{% static 'css/lab4_form_style.css' %}" />
</head>

<body>
    <header>
        <div id="header">
            <h1>Note Form</h1>
            <p><a href="#navbar">Feel free to add your note here!</a></p>
        </div>
        <nav id="navbar">
            <ul>
                <li><a href="{% url 'index4' %}">Home</a></li>
                <li><a href="{% url 'note_list' %}">Card</a></li>
                <li><a href="#header">Back to the top</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="" method="POST">
            <!--token to prevent cross-site request forgery-->
            {% csrf_token %}
            <!--render django form as paragraph-->
            {{ form.as_p }}
            <input type="submit" class="submit-btn" value="Submit">
        </form>
    </main>
</body>

</html>