{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Note Card</title>
    <link rel="stylesheet" href="{% static 'css/lab4_note_list_style.css' %}" />
</head>

<body>
    <header>
        <div id="header">
            <h1>Note Card</h1>
            <p><a href="#navbar">Check out your message card!</a></p>
        </div>
        <nav id="navbar">
            <ul>
                <li><a href="{% url 'index4' %}">Home</a></li>
                <li><a href="{% url 'add_note' %}">Add note</a></li>
                <li><a href="#header">Back to the top</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% if notes %}
        {% for note in notes %}
        <table>
            <tr>
                <td class="rtitle">To</td>
                <td>{{note.to}}</td>
            </tr>
            <tr>
                <td class="rtitle">From</td>
                <td>{{note.sender}}</td>
            </tr>
            <tr>
                <td class="rtitle">Title</td>
                <td>{{note.title}}</td>
            </tr>
            <tr>
                <td colspan="2" class="message">"{{note.message}}"</td>
            </tr>
        </table>
        {% endfor %}
        {% endif %}
    </main>

</body>
</body>

</html>