<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Note</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jq
uery.min.js">
    $(document).ready(function(){
        $.ajax({
            url: "/lab-2/json",
            success: function(results){

            }
        })


        $("#view-btn").click(function(){
            $("<div><table><tr><td>{{ note.to }}</td><td>{{ note.sender }}</td><td>{{ note.title }}</td><td>{{ note.message }}</td></tr></table></div>").appendTo("<body>")
        })
    })

</script>
</head>

<body>
    <table>
        <tr>
            <th>To</th>
            <th>From</th>
            <th>Title</th>
            <th>Message</th>
            <th>Actions</th>
        </tr>
        <!-- Loop from Note model -->
        {% if notes %}
        {% for note in notes %}
        <tr>
            <td>{{ note.to }}</td>
            <td>{{ note.sender }}</td>
            <td>{{ note.title }}</td>
            <td>{{ note.message }}</td>
            <td><button id="view-btn">View</button>
                <button id="edit-btn">Edit</button>
                <button id="delete-btn">Delete</button>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
</body>

</html>