<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Friend Form</title>
    <style>
        * {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        body {
            background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
            background-attachment: fixed;
        }

        h1 {
            text-align: center;
        }

        form {
            background-color: blanchedalmond;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
            border-radius: 20px;
            width: 300px;
            padding: 20px;
            margin: 0 auto;
        }

        .errorlist {
            color: rgba(151, 11, 69, 0.884);
            margin-bottom: 4px;
            padding: 0;
            list-style: none;
        }

        p {
            color: #658EA9;
            margin-top: 0;
            font-weight: bold;
        }

        .submit-btn {
            font-weight: bold;
            box-shadow: 6px 4px #3B9778;
            border: 2px solid #3B9778;
            border-radius: 20px;
            width: 80px;
            height: 40px;
        }

        .submit-btn:hover,
        .submit-btn:active {
            box-shadow: 0px 0px;
            background: #93E9BE;
            border: 2px solid black;
            transition: 0.25s ease;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <h1>Friend Form</h1>
    <form action="" method="POST">
        <!--token to prevent cross-site request forgery-->
        {% csrf_token %}
        <!--render django form as paragraph-->
        {{ form.as_p }}
        <input type="submit" class="submit-btn" value="Submit">
    </form>
</body>

</html>