<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
    <style>
        * {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        body {
            background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
            background-attachment: fixed;
        }

        h1 {
            text-align: center;
        }

        table {
            background-color: blanchedalmond;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
            border-radius: 20px;
            width: 500px;
            padding: 20px;
            margin: 0 auto;
            text-align: center;
        }

        td:hover,
        td:active {
            color: #75a4c4;
            font-weight: bold;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <h1>Friend List</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>NPM</th>
            <th>DOB</th>
        </tr>
        <!-- Loop from Friend model -->
        {% if friends %}
        {% for friend in friends %}
        <tr>
            <td>{{  friend.name }}</td>
            <td>{{  friend.npm }}</td>
            <td>{{  friend.DOB }}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
</body>

</html>