
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #353535;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: #FFF5EB;
}

header {
    display: inline;
}

#header {
    background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

nav {
    background-color: #DEEDF0;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 20px;
    box-shadow:
        -8px -8px 12px 0 #c7dde6 inset;
}

nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    list-style-type: none;
    padding: 10px;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:hover,
a:active {
    text-decoration: underline;
    color: #f5b58d;
}

main {
    display: flex; 
    /*wrap for web responsiveness*/
    flex-wrap: wrap;
    justify-content: center;
}

table {
    box-shadow: 20px 20px 50px #F4C7AB,
        -30px -30px 60px #fffbf7;
    border-radius: 20px;
    width: 300px;
    padding: 40px;
    margin: 40px;
}

table:hover,
table:active {
    transform: scale(1.1);
}

td:hover {
    color: #75a4c4;
}

.rtitle {
    color: #75a4c4;
    font-weight: bold;
}

.message {
    text-align: center;
    font-style: italic;
}