
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: #FFF5EB;
}

header {
    display: inline;
}

#header {
    background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

nav {
    background-color: #DEEDF0;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 20px;
    box-shadow:
        -8px -8px 12px 0 #c7dde6 inset;
}

nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    list-style-type: none;
    padding: 10px;
}

a {
    color: #353535;
    text-decoration: none;
    font-weight: bold;
}

a:hover,
a:active {
    text-decoration: underline;
    color: #f5b58d;
}

form {
    background-color: blanchedalmond;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    width: 400px;
    padding: 20px;
    margin: 40px auto;
}

.errorlist {
    color: rgba(151, 11, 69, 0.884);
    margin-bottom: 4px;
    padding: 0;
    list-style: none;
}

p {
    color: #658EA9;
    margin-top: 0;
    font-weight: bold;
}

textarea {
    resize: none;
}

.submit-btn {
    font-weight: bold;
    box-shadow: 6px 4px #3B9778;
    border: 2px solid #3B9778;
    border-radius: 20px;
    width: 80px;
    height: 40px;
}

.submit-btn:hover,
.submit-btn:active {
    box-shadow: 0px 0px;
    background: #93E9BE;
    border: 2px solid black;
    transition: 0.25s ease;
    cursor: pointer;
}
